# VS Code project settings
.vscode/

# Ignore the Literature Folder
literature/

# Ignore the notebooks folder
nbs/

# Ignore latex output files
notes/output/

# -----------------------------------
# macOS system files
# -----------------------------------
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes